body {
    background-image: url('assets/background.jpeg');
    background-size: cover; /* This scales the image to cover the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed as the page scrolls */
}